*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 560px) {

    .todo-container {
        width: 15rem;
    }

    .input-container {
        flex-direction: column;
    }

    .input-container>button {
        width: 100%;
    }
}

body {
    background-image: radial-gradient(rgb(4, 4, 145),skyblue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-container {
    background-image: radial-gradient(black,blue,purple);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid white;
}

.todo-container>h2 {
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.input-container>input {
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border: 1px solid transparent;
    transition: 0.3s;
    width: 100%;
}

.input-container>input:focus {
    border: 2px solid blue;
}

.input-container>input:hover {
   border: 2px solid rgb(102, 102, 203);
}

.input-container>button {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border: 1px solid white;
    transition: 0.3s;
}

.input-container>button:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.input-container>button:active {
    scale: 0.8;
}

.list-container {
    list-style-position: inside;
}

.list-container li {
    margin: 1rem 0 1rem 0;
    background: #f7f8fc63;
    padding: 10px 12px;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.list-container li i {
    transition: 0.3s;
    cursor: pointer;
}

.list-container li i:active {
    scale: 0.9!important;
    color: red!important;
}

.list-container li i:hover {
    scale: 1.1;
    color: black;
}

.input-edit {
    display: none;
    text-align: center;
}

.input-edit input{
    border: none;
    outline: none;
    text-align: center;
    padding: 8px 15px;
    font-size: 1rem;
    width: 50%;
    border-radius: 8px;
    font-size: 1.2rem;
}

.input-edit i {
    color: rgb(1, 236, 1);
    font-size: 1.8rem;
    vertical-align: middle;
}

.input-edit-show {
    display: block;
}